<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org/%22%3E">
  <head>
    <meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
</head>

<body>
<form th:action="@{/process_login}" method="post">
    <main class="main">
        <form class="form login-form">
            <h3 class="login-title">Вход в систему</h3>

            <div class="input-container">
                <label for="username"></label>
                <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="username" />
            </div>

            <div class="input-container">
                <label for="password"></label>
                <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="password"
                />
            </div>

            <div th:if="${param.error}" style="color: red">
                <p class="text">неправильный email или пароль</p>
            </div>

            <button class="btn btn-submit">Войти</button>

            <div class="login">
                <span>Еще не зарегистрированы?</span>

                <a th:href="@{auth/registration}" class="login-link">Регистрация</a>
            </div>
        </form>
    </main>
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login page</title>-->
<!--</head>-->
<!--<body>-->

<!--<form name="f" method="POST" action="/process_login"-->
<!--&gt;-->
<!--    <label for="username">Введите имя пользователя: </label>-->
<!--    <input type="text" name="username" id="username"/>-->
<!--    <br/>-->
<!--    <label for="password">Введите пароль: </label>-->
<!--    <input type="password" name="password" id="password"/>-->
<!--    <br/>-->
<!--    <input type="submit" value="Login"/>-->

<!--    <div th:if="${param.error}" style="color: red">-->
<!--        Неправильные имя или пароль-->
<!--    </div>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->