<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post" th:action="@{/auth/registration}" th:object="${user}" enctype="multipart/form-data">

    <label for="nickname">Введите имя пользователя: </label>
    <input type="text" th:field="*{nickname}" id="nickname">
    <div style="color:red" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Username Error</div>
    <br/><br/>

    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/><br/>

    <label for="status">Введите статут для вашего профиля: </label>
    <input type="text" th:field="*{status}" id="status">
    <div style="color:red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</div>
    <br/><br/>

    <label class="col-form-label">Выберите фотографию профиля: </label>
    <br/>
    <input type="file" name="file" />
    <br/><br/>

    <input type="submit" values="Sign up!"/>

</form>


</body>
</html>
